.main {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  margin: 16px;
  flex: 1 1 auto;

  @include breakpoint(large) {
    flex-direction: row;
    overflow: hidden;
    margin: 0;
    height: calc(100vh - 100px);
  }
}

@import "../Sidebar/Sidebar.scss";
@import "../ContentSection/ContentSection.scss";
