.btn {
  background: $btn-primary;
  border: 0;
  padding: 0 24px;
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  @include box-shadow-light();

  &:hover {
    background-color: $btn-primary-hover;
  }

  &.btn-icon {
    padding: 10px;
  }
}
