.search-sort {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  @include breakpoint(medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__search-section {
    display: flex;
    flex-direction: column;
  }

  &__search-title {
    font-size: 14px;
    color: $white;
    margin-bottom: 8px;
  }

  &__input-section {
    display: flex;
    flex-direction: row;
    .custom-input {
      margin-right: 8px;
    }
  }

  &__sort-section {
    display: flex;
    flex-direction: row;
    @include breakpoint(small) {
      margin-top: 8px;
    }

    .custom-btn {
      &:last-child {
        margin-left: 4px;
      }
    }
  }

  &__sort {
    margin-right: 4px;
  }
}

.custom-input {
  padding: 10px;
  width: 300px;
  border: 0;
  background-color: $grey-54;
  border-radius: 4px;
  color: $white;
}

.custom-btn {
  background: #3949ab;
  border: 0;
  padding: 0 24px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #303f9f;
  }
  &.icon {
    padding: 10px;
  }
}

.custom-select {
  background: #545454;
  border: 0;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
