.search-sort {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  @include breakpoint(medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__sort-section {
    display: flex;
    flex-direction: row;
    @include breakpoint(small) {
      margin-top: 8px;
    }

    .btn {
      &:last-child {
        margin-left: 4px;
      }
    }
  }

  &__sort {
    margin-right: 4px;
  }
}
