.side-bar {
  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
    flex: 3 3 0;
    overflow-y: auto;
    height: calc(100vh - 32px);
    padding: 32px 0 32px 32px;
  }
}

@import "../Filters/Filters.scss";
