.footer {
  position: relative;
  background-color: $grey-52;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include breakpoint(large) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: flex-end;
  }

  &__content-section {
    font-size: 12px;
    color: $white;
  }

  &__git-link {
    color: $white;
  }

  .fa {
    font-size: 14px;
  }
}
