.filters {
  display: flex;
  flex-direction: column;

  &__title-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: $white;
  }

  &__toggle {
    display: block;
    font-size: 16px;
    font-weight: 500;

    @include breakpoint(medium) {
      display: none;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
  }

  &__category {
    margin-bottom: 16px;
  }

  &__name-section {
    padding: 10px;
    background-color: $grey-54;
    border-radius: 4px;
    @include breakpoint(medium) {
      width: 70%;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    text-transform: capitalize;
  }

  &__options {
    margin: 16px;
  }

  &__list {
    list-style-type: none;
  }
}
