@keyframes animate-slide-down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes animate-slide-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.filters {
  display: flex;
  flex-direction: column;

  &__title-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: $white;
  }

  &__toggle {
    display: block;
    font-size: 15px;
    font-weight: 900;

    @include breakpoint(large) {
      display: none;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;

    @include breakpoint(large) {
      overflow: auto;
      max-height: inherit;
    }

    &.expanded {
      max-height: 1000px;
      transition: max-height 0.25s ease-in;
    }
  }

  &__category {
    margin-bottom: 16px;
  }

  &__name-section {
    padding: 10px;
    background-color: $grey-52;
    border-radius: 4px;
    @include box-shadow-light();

    @include breakpoint(large) {
      width: 90%;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    color: $white;
    text-transform: capitalize;
  }

  &__options {
    margin: 16px;
  }

  &__list {
    list-style-type: none;
  }
}
