.chip {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  border-radius: 25px;
  background-color: $grey-52;
  color: $white;
  text-overflow: ellipsis;
  margin-right: 12px;
  @include box-shadow-light();

  &__label {
    margin-right: 8px;
  }

  &__closebtn {
    cursor: pointer;
    background-color: $grey-31;
    border: 0;
    border-radius: 50%;
    text-align: center;
    height: 20px;
    width: 20px;
    position: relative;

    &:after {
      position: absolute;
      content: "\00D7";
      color: $grey-88;
      font-weight: 500;
      font-size: 15px;
      top: -1px;
      left: 5px;

      &:hover {
        color: $white;
      }
    }
  }
}
