.content-section {
  display: flex;
  flex-direction: column;

  @include breakpoint(large) {
    flex: 14 14 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 32px;
  }
}

.pagination {
  margin: 32px auto;
  display: flex;
  list-style: none;
  outline: none;
  flex-wrap: wrap;

  .previous,
  .next {
    &.disabled {
      a {
        color: #828282;
      }
    }
  }

  .active {
    a {
      background-color: $btn-primary;
      color: #fff;
      @include box-shadow-light();

      &:hover {
        background-color: $btn-primary;
      }
    }
  }

  li {
    @include breakpoint(small) {
      margin: 15px 0;
    }
    a {
      padding: 5px 15px;
      margin: 0 5px;
      outline: none;
      cursor: pointer;
      color: $white;
      border-radius: 4px;

      &:hover {
        background-color: $grey-52;
      }
    }
  }
}

@import "../SelectedFilters/SelectedFilters.scss";
@import "../SearchAndSort/SearchAndSort.scss";
@import "../ResultsSection/ResultsSection.scss";
@import "../../core-components/CharacterCard/CharacterCard.scss";
